@model OnlineSchool.Models.AddCourseViewModel
@{
    ViewData["Title"] = "Add Course";
    Layout = "_AdminLayout";
}

<div class="element-wrapper">
    <h6 class="element-header">
        Manage Course
    </h6>
    <div class="element-box">
        <form method="post" >
            <h5 class="form-header">
                Add Course
            </h5>
            <div class="form-group">
                <label asp-for="CourseCode"> Course Code</label>
                <input class="form-control" placeholder="CES101" type="text" asp-for="CourseCode" >
                <span asp-validation-for="CourseCode" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTitle"> Course Title</label>
                <input class="form-control" placeholder="Computer Science" type="text" asp-for="CourseTitle" data-error="Course Tile is required">
                <span asp-validation-for="CourseTitle" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription"> Course Description</label>
                <input class="form-control" placeholder="Awesome Course" type="text" asp-for="CourseDescription" data-error="Course Description is required">
                <span asp-validation-for="CourseDescription" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutors"></label>
                <select asp-for="SelectedTutor" class="form-control" asp-items="Model.Tutors"></select>
                <span asp-validation-for="Tutors" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-buttons-w">
                <button type="submit" class="btn btn-primary" > Add Course</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

