@model OnlineSchool.Models.AddStudentModel
@{
    ViewData["Title"] = "Add Student"; 
    Layout = "_AdminLayout";

}

<div class="element-wrapper">
    <h6 class="element-header">
        Manage Student
    </h6>
    <div class="element-box">
        <form method="post" enctype="multipart/form-data">
            <h5 class="form-header">
                Add Student
            </h5>
            <div class="form-group">
                <label asp-for="Email"> Email address</label>
                <input class="form-control" placeholder="Enter email" type="email" asp-for="Email" data-error="Email address is invalid">
                <span asp-validation-for="Email" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input class="form-control" placeholder="First Name" type="text" asp-for="FirstName" data-error="First Name address is invalid">
                <span asp-validation-for="FirstName" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"> Last Name</label>
                <input class="form-control" placeholder="Last Name" type="text" asp-for="LastName" data-error="Last Name address is invalid">
                <span asp-validation-for="LastName" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class=""></label>
                <img class="img-responsive d-block mb-3" id="targetImg" style="height:100px;width:100px;" src="@Url.Content("/default-profile-image.jpg")" />
                <input asp-for="ProfileImage" class="form-control" accept="image/x-png,image/jpg,image/jpeg" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                <p class="text-danger mb-0" id="imgFileSizeError"></p>
                <p class="text-danger mb-0" id="imgFileFormatError"></p>
            </div>
            <div class="form-buttons-w">
                <button type="submit" class="btn btn-primary" onclick="return validate()"> Add Student</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>


    var imgFileSizeError = document.getElementById("imgFileSizeError");
    var imgFile = document.getElementById("ProfileImage");
    var imgFileFormatError = document.getElementById("imgFileFormatError");


    $(document).ready(function () {
        $("#ProfileImage").change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })


    var ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#imgPreview").show();
            }
        }
    }


    $(document).ready(function () {
        $('#ProfileImage').bind('change', function () {
            var exten = imgFile.value.split('.').pop();
            exten = exten.toLowerCase();
            if (!(exten == "png" || exten == "jpg" || exten == "jpeg")) {
                imgFileFormatError.textContent = "Invalid format.";
                //alertify.warning("Invalid format");

            } else {
                imgFileFormatError.textContent = "";
            }

            // check if the file is larger than 4mb
            if (this.files[0].size > (10 * 1000 * 1024)) {
                imgFileSizeError.textContent = "File too large. File should be less than 10mb";
                //alertify.warning("File too large. File should be less than 4mb");
            }
            else {
                // passed.
                imgFileSizeError.textContent = "";
            }
        });
    })


    function validate() {
        //if (imgFile.files[0] == null)
        //    return true;

        if (imgFile.files[0].size > (10 * 1000 * 1024)) {

            imgFileSizeError.textContent = "File too large. File should be less than 10mb";
            //file too large
            imgFile.focus();

            return false;
        }
        var exten = imgFile.value.split('.').pop();
        exten = exten.toLowerCase();
        if (!(exten == "png" || exten == "jpg" || exten == "jpeg")) {

            imgFileFormatError.textContent = "Invalid format.";
            //invalid format
            imgFile.focus();

            return false;

        }

    }
</script>

