@model OnlineSchool.Models.EditCourseViewModel
@{
    ViewData["Title"] = "Edit Course";
}

<h1>Edit Course</h1>
<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="Id" />
    <div class="form-group">
        <label asp-for="CourseCode" class=""></label>
        <input asp-for="CourseCode" class="form-control" />
        <span asp-validation-for="CourseCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseTitle" class=""></label>
        <input asp-for="CourseTitle" class="form-control" />
        <span asp-validation-for="CourseTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseDescription" class=""></label>
        <input asp-for="CourseDescription" class="form-control" />
        <span asp-validation-for="CourseDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tutors"></label>
        <select asp-for="SelectedTutor" class="form-control" asp-items="Model.Tutors"></select>
        <span asp-validation-for="Tutors" class="text-danger"></span>
    </div>
    <button type="submit" class="btn custom-primary-btn">Edit course</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

