@{ ViewData["Title"] = "Dashboard";
    //Layout = "_AdminLayout";
}

<div class="container">
    <div class="my-4">
        <a asp-action="index">Home</a>
    </div>

    <div class="element-wrapper mt-lg-2">
        <h6 class="element-header mb-3">
            Admin Dashboard
        </h6>

        <div class="row mt-lg-5">
            <div class="col-md-4 mt-lg-3">
                <div class="card m-1" style="box-shadow: 1px 1px 4px rgb(47 47 47 / 40%);">
                    <div class="card-body" style=" padding: 10px">
                        <div style="font-size:18px;font-weight:600;">
                            TUTORS
                        </div>
                        <hr />
                        <a asp-action="tutors" class="btn btn-custom-primary btn-sm w-100">view</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-lg-3">
                <div class="card m-1" style="box-shadow: 1px 1px 4px rgb(47 47 47 / 40%);">
                    <div class="card-body" style=" padding: 10px">
                        <div style="font-size:18px;font-weight:600;">
                            STUDENTS
                        </div>
                        <hr />
                        <a asp-action="students" class="btn btn-custom-primary btn-sm w-100">view</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-lg-3">
                <div class="card m-1" style="box-shadow: 1px 1px 4px rgb(47 47 47 / 40%);">
                    <div class="card-body" style=" padding: 10px">
                        <div style="font-size:18px;font-weight:600;">
                            COURSES
                        </div>
                        <hr />
                        <a asp-action="courses" class="btn btn-custom-primary btn-sm w-100">view</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>