@model OnlineSchool.Models.NewExamModel
@{
    ViewData["Title"] = "New Exam";
    Layout = "_AdminLayout";
}
<div class="element-wrapper">
    <h6 class="element-header">
        Manage Exam
    </h6>
    <div class="element-box">
        <form method="post">
            <input asp-for="CourseId" hidden />
            <h5 class="form-header">
                Add Exam
            </h5>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" placeholder="Enter email" type="text" asp-for="Title" data-error="Title is required">
                <span asp-validation-for="Title" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursePerentage"></label>
                <input class="form-control" placeholder="0.00" type="number" asp-for="CoursePerentage" data-error="Course Perentage is invalid">
                <span asp-validation-for="CoursePerentage" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInMinute">Duration In Minute</label>
                <input class="form-control" placeholder="0" type="number" asp-for="DurationInMinute" data-error="Duration In Minute is invalid">
                <span asp-validation-for="DurationInMinute" class="help-block form-text with-errors form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class=""></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineEndTime" class=""></label>
                <input asp-for="DeadlineEndTime" class="form-control" />
                <span asp-validation-for="DeadlineEndTime" class="text-danger"></span>
            </div>
            <div class="form-buttons-w">
                <button type="submit" class="btn btn-primary"> Add Exam</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
