@model OnlineSchool.Models.AddLectureModel
@{
    ViewData["Title"] = "New Lecture";
    //Layout = "_AdminLayout";
}
<div class="element-wrapper container">
    <div class="my-4">
        <a asp-action="index">Home</a> >> <a asp-action="course" asp-route-id="@Model.CourseId">@Model.CourseCode</a> >>
        <span class="breadcrum-link">New Lecture</span>
    </div>

    <h6 class="element-header mt-4">
        Manage Lecture
    </h6>
    <div class="card box-shadow mt-5 login-card mx-auto">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input hidden asp-for="CourseId" />
                <input hidden asp-for="CourseCode" />
                <h5 class="form-header">
                    ADD LECTURE RESOURCE
                </h5>
                <hr class="m-1" />
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" placeholder="Course Title" type="text" asp-for="Title" data-error="Title is required">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BriefDescription"> Brief Description</label>
                    <textarea asp-for="BriefDescription" placeholder="Brief Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="BriefDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class=""></label>
                    <input asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                    <p class="text-danger mb-0" id="FileSizeError"></p>
                </div>
                <div class="form-buttons-w">
                    <button type="submit" class="btn btn-custom-primary" onclick="return validate()"> Add Lecture resource</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>


    var FileSizeError = document.getElementById("FileSizeError");
    var File = document.getElementById("File");
    var FileFormatError = document.getElementById("FileFormatError");

    $(document).ready(function () {
        $('#File').bind('change', function () {
           
            // check if the file is larger than 4mb
            if (this.files[0].size > (50 * 1000 * 1024)) {
                FileSizeError.textContent = "File too large. File should be less than 50mb";
                //alertify.warning("File too large. File should be less than 4mb");
            }
            else {
                // passed.
                FileSizeError.textContent = "";
            }
        });
    })


    function validate() {
        if (File.files[0].size > (50 * 1000 * 1024)) {

            FileSizeError.textContent = "File too large. File should be less than 50mb";
            //file too large
            File.focus();

            return false;
        }
    }
</script>