@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_AdminLayout";
}
<div class="big-error-w">
    <h1>
        404
    </h1>
    <h5>
        How did we get here?
    </h5>
    <h4>
        Oops, Something went missing...
    </h4>
    
</div>
