<ul class="main-menu">
    <li class="sub-header">
        <span>Controls</span>
    </li>
    <li class="selected ">
        <a asp-controller="course" asp-action="index">
            <div class="icon-w">
                <div class="os-icon os-icon-layout"></div>
            </div>
            <span>Courses</span>
        </a>
    </li>


</ul>